<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /irish/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /irish/index.php [L]
</IfModule>
